body {
    margin: 0px;
    overflow-x: hidden;
}

@font-face {
    font-family: 'Bebas Neue';
    src: url('../assets/BebasNeue-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Quantico';
    src: url('../assets/Quantico-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Quantico';
    src: url('../assets/Quantico-Bold.ttf') format('truetype');
    font-weight: 700;
}

/* hero-header-1 start */

.hero-header-1 {
    margin-bottom: 100px;
}

.hero-header-1 .image {
    width: 100%;
    height: 100vh;
    display: block;
    object-fit: cover;
    background-color: black;
}

.hero-header-1 .title {
    color: white;
    position: absolute;
    top: 50px;
    left: 35%;
    margin-block-start: 0;
    font-size: 140px;
    line-height: 1em;
    max-width: 500px;
    font-family: 'Bebas Neue', sans-serif;
    -webkit-text-stroke: 0.4px black;
}

.hero-header-1 .indent {
    margin-left: 100px;
    font-size: 90px;
}

.hero-header-1 .angle-down {
    bottom: 30px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    height: auto;
    cursor: pointer;
}

.hero-header-1 .angle-down:hover {
    content: url('../assets/angle-down-yellow.svg');
}

@media only screen and (max-width: 800px) {
    .hero-header-1 .image {
        content: url('../assets/hero-header-mobile.webp');
        object-position: top;
    }

    .hero-header-1 .title {
        top: 60%;
        font-size: 120px;
        left: 5vw;
        width: 90vw;
        text-align: center;
        max-width: unset;
        line-height: 1;
    }

    .hero-header-1 .indent {
        margin-left: unset;
        font-size: 90px;
    }
}

/* hero-header-1 end */

/* sidebar start */

.sidebar {
    font-family: 'Quantico', sans-serif;
    float: left;
}

.sidebar ul {
    list-style: none;
    font-size: 30px;
    line-height: 1.3em;
    padding: 0px 40px;
    margin: 0px;
    position: sticky;
    top: 20px;
}

.sidebar li {
    font-weight: normal;
    min-width: 150px;
}

.sidebar li a {
    color: black;
    text-decoration: none;
}

.sidebar li:hover {
    color: #85701c;
    font-weight: 700;
    cursor: pointer;
}

.sidebar .active a {
    color: #85701c;
    font-weight: bold;
}

@media only screen and (max-width: 800px) {
    .sidebar {
        width: 100%;
        position: sticky;
        top: -1px;
        padding-top: 20px;
        z-index: 1;
        background-color: white;
    }

    .sidebar ul {
        display: flex;
        flex-flow: wrap;
        gap: 10px;
        font-size: 20px;
        padding: 0px;
        margin-bottom: 20px;
    }

    .sidebar li {
        min-width: unset;
    }
}

/* sidebar end */

/* gallery start */

.gallery {
    position: relative;
    gap: 10px;
    box-sizing: border-box;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.gallery .col{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.gallery .image {
    width: 100%;
}


@media only screen and (max-width: 800px) {
    .gallery{
        grid-template-columns: 1fr 1fr;
    }
}

@media only screen and (max-width: 500px) {
    .gallery{
        grid-template-columns: 1fr;
    }
}

/* gallery end */

/* popup start */

.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
    overflow: auto;
    font-family: 'Quantico', sans-serif;
}

.popup .popup-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    height: 90vh;
}

.popup .popup-container img {
    object-fit: contain;
    height: 100%;
}

.popup .popup-container ul {
    list-style: none;
    padding-left: 0px;
}

.popup .popup-content {
    background-color: white;
    padding: 20px;
    position: relative;
    min-width: 300px;
    padding-top: 0px;
}

.popup span.prev {
    color: white;
    position: fixed;
    left: 30px;
    cursor: pointer;
    top: calc(50% - 15px);
    font-size: 30px;
}

.popup span.next {
    color: white;
    position: fixed;
    right: 30px;
    cursor: pointer;
    top: calc(50% - 15px);
    font-size: 30px;
}

.popup .close {
    position: absolute;
    top: 15px;
    right: 15px;
    color: #fff;
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;
}

@media only screen and (max-width: 1000px) {
.popup .popup-container{
    height: 60vh;
}

}

@media only screen and (max-width: 700px) {
    .popup .popup-container {
        grid-template-columns: 1fr;
        height: unset;
        overflow: unset;
        display: flex;
    flex-direction: column;
    width: 50%;
    min-width: 250px;
    }

    .popup .popup-content{
        min-width: unset;
    }
    .popup .popup-container img{
        width: 100%;
    }
}

/* popup end */

/* container-block start */

.container-block {
    position: relative;
    display: grid;
    grid-template-columns: 2fr 8fr;
    max-width: 1200px;
    margin: auto;
    padding: 0px 20px;
    padding-bottom: 200px;
}

.container-block  .hidden {
    display: none;
}

.container-block .instagram {
    position: absolute;
    right: 20px;
    top: -50px;
    cursor: pointer;
}

.container-block .instagram img:hover {
    content: url('../assets/instagram-yellow.svg');
}

@media only screen and (max-width: 800px) {
    .container-block {
        grid-template-columns: 1fr;
        padding-bottom: 20px;
    }

    .container-block .image-text {
        grid-template-columns: 1fr;
    }

    .container-block .instagram {
        left: 20px;
    }
}

/* container-block end */

/* content-block start */

.content-block {
    font-family: 'Quantico', sans-serif;
    display: grid;
    gap: 40px;
    width: 100%;
    min-height: 500px;
}

.content-block.image-text {
    grid-template-columns: 4fr 3fr;
}

.content-block.image-text .image {
    width: inherit;
}

.content-block h2 {
    margin: 0px;
    margin-bottom: 20px;
    font-size: 40px;
}

.content-block p span {
    margin-right: 40px;
}

.content-block a {
    color: #000;
    line-height: 1.8em;
}

@media only screen and (max-width: 500px) {
    .content-block.image-text{
        grid-template-columns: 1fr;
    }
    .content-block {
        min-height: unset;
    }
}

/* content-block end */

/* timeline start */

.timeline {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.timeline li {
    display: flex;
}

.timeline li p:first-child {
    white-space: nowrap;
    margin-right: 40px;
}

.timeline li p {
    margin: 0px;
}

@media only screen and (max-width: 500px) {
    .timeline li p:first-child {
        margin-right: 20px;
    }
}

/* timeline end */
